<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="POST" action="" id="f1">
        <label for="Email">Enter Email:</label>
        <input type="email" id="Email" required><br>
        <label for="Password">Enter Password:</label>
        <input type="password" id="Password" required><br>

        <input type="submit" value="Login"> <a href="signup.html">New User-Create Account</a>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="signup.js"></script>
</body>
</html>