<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form method="Post" action="">
        <label for="Username">Enter Username:</label>
        <input type="text" id="name" required><br>
        <label for="Email">Enter Email:</label>
        <input type="email" id="Email" required><br>
        <label for="Password">Enter Password:</label>
        <input type="password" id="Password" required><br>

        <input type="submit" value="Sign Up"> <a href="#">Existing User-Login</a>
    </form>
</body>
</html>